body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('img/masjid.jpg') no-repeat center center/cover;
    color: yellow;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; Hilangkan scroll */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%; /* Memperlebar container */
    max-width: 1200px; /* Maksimal lebar agar tetap proporsional */
    background: rgba(0, 0, 0, 0.65);
    padding: 30px;
    border-radius: 40px;
    margin: 30px auto;
}

header .logo {
    width: 100px;
}

#jam {
    font-size: 2.4em;
    transition: color 0.5s ease-in-out;
}

.jam-digital {
    font-size: 2.4em;
    /* margin: 20px 0; */
}

.jam-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.jam-box {
    text-align: center;
    /* background: rgba(255, 255, 255, 0.25); */
    padding: 0 25px;
    /* border-radius: 30px; */
    min-width: 150px;
}

/* .jam-analog {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    position: relative;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jarum {
    position: absolute;
    bottom: 50%;
    background: black;
    transform-origin: bottom;
}

.jarum.jam {
    background: black;
    width: 6px;
    height: 40px;
}

.jarum.menit {
    background: black;
    width: 4px;
    height: 55px;
}

.tengah {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 70px;
} */

/* Responsiveness */
@media (max-width: 768px) {
    .jam-container {
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    
    /* .jam-box {
        min-width: 100px;
    } */
}

@media (min-width: 1200px) {
    .masjid {
        font-size: 50px;
    }

    .tanggal {
        font-size: 30px;
    }

    .jam {
        font-size: 90px;
    }

    .jam-sholat {
        font-size: 60px;
    }
    /* .jam-analog {
        width: 180px;
        height: 180px;
    }

    .jarum.jam {
        height: 50px;
        left: 87px;
        top: 40px;
    }

    .jarum.menit {
        height: 65px;
        left: 88px;
        top: 25px;
    }

    .tengah {
        top: 85px;
        left: 85px;
    } */
}
